
html {
  height: 100%;
  background: whitesmoke;
  background-size: 100% 100%;
  overflow: auto;
  color: white;
  position: center;
}
/* giving navbar transparent background */
body, .navbar {
  padding: 10px;
  background-color: white;
}
/* making navbar li inline-block element */
.navbar li {
display: inline-block;
padding: 20x;
margin-right: 10px;
margin-left: 10px;
cursor: pointer;
background: transparent;
border-radius: 3px;
}
/* dropdown links style */
.navbar li a {
font-size: larger;
background-color: turquoise;
}
